.card {
    padding: 22px;
    border-radius: 16px;
    transition: all 0.3s ease;
}

.light {
    background: #ffffff;
    color: #111827;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.dark {
    background: #1e293b;
    color: #ffffff;
    box-shadow: 0 10px 25px rgba(0,0,0,0.35);
}

h2 {
    margin-bottom: 16px;
    font-weight: 700;
}

p {
    margin-bottom: 10px;
}